//
// Font definitions for Ecusson
//

$font-fallback-sans: "Helvetica Neue", "Helvetica", Verdana, sans-serif;
$font-fallback-mono: "Courier New", Courier, monospace;
$font-icons: "FontAwesome";

$font-regular: "Lato", $font-fallback-sans;
$font-h1: "Expletus Sans", $font-fallback-sans;
$font-title: "Merriweather Sans", $font-fallback-sans;

$font-monospace: "Fira Mono", $font-fallback-mono;
