<section>
  <h2>
    <div class="green tag">Element</div>
    Buttons
  </h2>
  <div class="content">

    <h3>Buttons can have different sizes <code>.button.{size}</code></h3>
    <div class="elements">
      <div class="row">
        <button class="button tiny">Tiny</button>
        <button class="button small">Small</button>
        <button class="button regular">Regular</button>
        <button class="button big">Big</button>
        <button class="button large">Large</button>
      </div>
    </div>

    <h3>Links can also be buttons <code>a.button</code></h3>
    <div class="elements">
      <div class="row">
        <a href="javascript:void(0)" class="button tiny">Tiny</a>
        <a href="javascript:void(0)" class="button small">Small</a>
        <a href="javascript:void(0)" class="button regular">Regular</a>
        <a href="javascript:void(0)" class="button big">Big</a>
        <a href="javascript:void(0)" class="button large">Large</a>
      </div>
    </div>

    <h3>Buttons can expand to fill their container <code>.button.expand</code></h3>
    <div class="elements">
      <div class="row">
        <button class="button expand">Very long button</button>
      </div>
    </div>

    <h3>Buttons can have colors <code>.button.{color}</code></h3>
    <h4>The text color adjusts automatically for better readability</h4>
    <div class="elements">
      <div class="row">
        <button class="button red">Red</button>
        <button class="button orange">Orange</button>
        <button class="button yellow">Yellow</button>
        <button class="button green">Green</button>
        <button class="button teal">Teal</button>
        <button class="button blue">Blue</button>
        <button class="button indigo">Indigo</button>
        <button class="button plum">Plum</button>
        <button class="button purple">Purple</button>
        <button class="button pink">Pink</button>
        <button class="button fuchsia">Fuchsia</button>
        <button class="button brown">Brown</button>
        <button class="button black">Black</button>
        <button class="button white">White</button>
      </div>
    </div>

    <h3>Buttons can be simplified <code>.basic.button</code></h3>
    <div class="elements">
      <div class="row">
        <button class="basic button red">Red</button>
        <button class="basic button orange">Orange</button>
        <button class="basic button yellow">Yellow</button>
        <button class="basic button green">Green</button>
        <button class="basic button teal">Teal</button>
        <button class="basic button blue">Blue</button>
        <button class="basic button indigo">Indigo</button>
        <button class="basic button plum">Plum</button>
        <button class="basic button purple">Purple</button>
        <button class="basic button pink">Pink</button>
        <button class="basic button fuchsia">Fuchsia</button>
        <button class="basic button brown">Brown</button>
        <button class="basic button black">Black</button>
        <button class="basic button white">White</button>
      </div>
    </div>

    <h3>Buttons can be rounded <code>.rounded.button</code></h3>
    <div class="elements">
      <div class="row">
        <button class="rounded button red">Red</button>
        <button class="rounded button orange">Orange</button>
        <button class="rounded button yellow">Yellow</button>
        <button class="rounded button green">Green</button>
        <button class="rounded button teal">Teal</button>
        <button class="rounded button blue">Blue</button>
        <button class="rounded button indigo">Indigo</button>
        <button class="rounded button plum">Plum</button>
        <button class="rounded button purple">Purple</button>
        <button class="rounded button pink">Pink</button>
        <button class="rounded button fuchsia">Fuchsia</button>
        <button class="rounded button brown">Brown</button>
        <button class="rounded button black">Black</button>
        <button class="rounded button white">White</button>
      </div>
    </div>

    <h3>Basic buttons can also be rounded</h3>
    <div class="elements">
      <div class="row">
        <button class="basic rounded button red">Red</button>
        <button class="basic rounded button orange">Orange</button>
        <button class="basic rounded button yellow">Yellow</button>
        <button class="basic rounded button green">Green</button>
        <button class="basic rounded button teal">Teal</button>
        <button class="basic rounded button blue">Blue</button>
        <button class="basic rounded button indigo">Indigo</button>
        <button class="basic rounded button plum">Plum</button>
        <button class="basic rounded button purple">Purple</button>
        <button class="basic rounded button pink">Pink</button>
        <button class="basic rounded button fuchsia">Fuchsia</button>
        <button class="basic rounded button brown">Brown</button>
        <button class="basic rounded button black">Black</button>
        <button class="basic rounded button white">White</button>
      </div>
    </div>

    <h3>
      Buttons can be square
      <code>.square</code>
    </h3>
    <div class="elements">
      <div class="row">
        <button class="square button red">Red</button>
        <button class="square button orange">Orange</button>
        <button class="square button yellow">Yellow</button>
        <button class="square button green">Green</button>
        <button class="square button teal">Teal</button>
        <button class="square button blue">Blue</button>
        <button class="square button indigo">Indigo</button>
        <button class="square button plum">Plum</button>
        <button class="square button purple">Purple</button>
        <button class="square button pink">Pink</button>
        <button class="square button fuchsia">Fuchsia</button>
        <button class="square button brown">Brown</button>
        <button class="square button black">Black</button>
        <button class="square button white">White</button>
      </div>
    </div>

    <h3>Basic buttons can also be square</h3>
    <div class="elements">
      <div class="row">
        <button class="basic square button red">Red</button>
        <button class="basic square button orange">Orange</button>
        <button class="basic square button yellow">Yellow</button>
        <button class="basic square button green">Green</button>
        <button class="basic square button teal">Teal</button>
        <button class="basic square button blue">Blue</button>
        <button class="basic square button indigo">Indigo</button>
        <button class="basic square button plum">Plum</button>
        <button class="basic square button purple">Purple</button>
        <button class="basic square button pink">Pink</button>
        <button class="basic square button fuchsia">Fuchsia</button>
        <button class="basic square button brown">Brown</button>
        <button class="basic square button black">Black</button>
        <button class="basic square button white">White</button>
      </div>
    </div>

    <h3>Buttons can change color when hovered <code>.hover-{color}</code></h3>
    <div class="elements">
      <div class="row">
        <button class="button red hover-indigo">Red</button>
        <button class="button orange hover-plum">Orange</button>
        <button class="button yellow hover-purple">Yellow</button>
        <button class="button green hover-pink">Green</button>
        <button class="button teal hover-fuchsia">Teal</button>
        <button class="button blue hover-red">Blue</button>
        <button class="button indigo hover-orange">Indigo</button>
        <button class="button plum hover-yellow">Plum</button>
        <button class="button purple hover-green">Purple</button>
        <button class="button pink hover-teal">Pink</button>
        <button class="button fuchsia hover-blue">Fuchsia</button>
        <button class="button brown hover-black">Brown</button>
        <button class="button black hover-white">Black</button>
        <button class="button white hover-brown">White</button>
      </div>
      <div class="row">
        <button class="basic button red hover-indigo">Red</button>
        <button class="basic button orange hover-plum">Orange</button>
        <button class="basic button yellow hover-purple">Yellow</button>
        <button class="basic button green hover-pink">Green</button>
        <button class="basic button teal hover-fuchsia">Teal</button>
        <button class="basic button blue hover-red">Blue</button>
        <button class="basic button indigo hover-orange">Indigo</button>
        <button class="basic button plum hover-yellow">Plum</button>
        <button class="basic button purple hover-green">Purple</button>
        <button class="basic button pink hover-teal">Pink</button>
        <button class="basic button fuchsia hover-blue">Fuchsia</button>
        <button class="basic button brown hover-black">Brown</button>
        <button class="basic button black hover-white">Black</button>
        <button class="basic button white hover-brown">White</button>
      </div>
    </div>

    <h3>Buttons can be shaded <code>.{color}-shaded</code></h3>
    <div class="elements">
      <div class="row">
        <button class="red orange-shaded button">
          <span>Red to Orange</span>
        </button>
        <button class="orange yellow-shaded button">
          <span>Orange to Yellow</span>
        </button>
        <button class="yellow orange-shaded button">
          <span>Yellow to Orange</span>
        </button>
        <button class="green teal-shaded button">
          <span>Green to Teal</span>
        </button>
        <button class="teal blue-shaded button">
          <span>Teal to Blue</span>
        </button>
        <button class="blue indigo-shaded button">
          <span>Blue to Indigo</span>
        </button>
        <button class="indigo plum-shaded button">
          <span>Indigo to Plum</span>
        </button>
        <button class="plum purple-shaded button">
          <span>Plum to Purple</span>
        </button>
        <button class="purple pink-shaded button">
          <span>Purple to Pink</span>
        </button>
        <button class="pink fuchsia-shaded button">
          <span>Pink to Fuchsia</span>
        </button>
        <button class="fuchsia red-shaded button">
          <span>Fuchsia to Red</span>
        </button>
        <button class="brown orange-shaded button">
          <span>Brown to Orange</span>
        </button>
        <button class="black button">
          <span>Black is not supported yet</span>
        </button>
        <button class="white button">
          <span>White is not supported yet</span>
        </button>
      </div>
      <div class="row">
        <button class="blue fuchsia-shaded rounded button">
          <span>This should look cool</span>
        </button>
      </div>
    </div>

    <h3>Buttons can represent a brand <code>.button.{brand}</code></h3>
    <div class="elements">
      <div class="row">
        <button class="button facebook">
          <i class="icon fa fa-facebook"></i>
          Facebook
        </button>
        <button class="button twitter">
          <i class="icon fa fa-twitter"></i>
          Twitter
        </button>
        <button class="button linkedin">
          <i class="icon fa fa-linkedin"></i>
          LinkedIn
        </button>
        <button class="button vkontakte">
          <i class="icon fa fa-vk"></i>
          VKontakte
        </button>
        <button class="button tumblr">
          <i class="icon fa fa-tumblr"></i>
          Tumblr
        </button>
        <button class="button google-plus">
          <i class="icon fa fa-google-plus"></i>
          Google+
        </button>
        <button class="button youtube">
          <i class="icon fa fa-youtube-play"></i>
          YouTube
        </button>
        <button class="button reddit">
          <i class="icon fa fa-reddit-alien"></i>
          Reddit
        </button>
        <button class="button weibo">
          <i class="icon fa fa-weibo"></i>
          Weibo
        </button>
      </div>

      <div class="row">
        <button class="button soundcloud">
          <i class="icon fa fa-soundcloud"></i>
          SoundCloud
        </button>
        <button class="button blogger">
          Blogger
        </button>
        <button class="button rss">
          <i class="icon fa fa-rss"></i>
          RSS
        </button>
        <button class="button whatsapp">
          <i class="icon fa fa-whatsapp"></i>
          WhatsApp
        </button>
        <button class="button medium">
          <i class="icon fa fa-medium"></i>
          Medium
        </button>
        <button class="button slack">
          <i class="icon fa fa-slack"></i>
          Slack
        </button>
        <button class="button instagram">
          <i class="icon fa fa-instagram"></i>
          Instagram
        </button>
        <button class="button dribbble">
          <i class="icon fa fa-dribbble"></i>
        Dribbble
        </button>
        <button class="button snapchat">
          <i class="icon fa fa-snapchat-ghost"></i>
          Snapchat
        </button>
      </div>
    </div>

  </div>
</section>
