<section>
  <h2>
    <div class="green tag">Element</div>
    Button groups
  </h2>
  <div class="content">

    <h3>Buttons can be grouped together <code>.buttons.group</code></h3>
    <div class="elements">
      <div class="row">
        <div class="buttons group">
          <button class="button">One</button>
          <button class="button">Two</button>
          <button class="button">Three</button>
        </div>
      </div>
    </div>

    <h3>Groups can be vertical <code>.vertical.button.group</code></h3>
    <div class="elements">
      <div class="row">
        <div class="vertical buttons group">
          <button class="button">One</button>
          <button class="button">Two</button>
          <button class="button">Three</button>
        </div>
      </div>
    </div>

    <h3>Groups can expand to fill their container <code>.expand.buttons.group</code></h3>
    <div class="elements">
      <div class="row">
        <div class="expand buttons group">
          <button class="button">One</button>
          <button class="button">Two</button>
          <button class="button">Three</button>
        </div>
      </div>
    </div>

    <h3>Vertical groups can also expand <code>.vertical.expand.buttons.group</code></h3>
    <div class="elements">
      <div class="row">
        <div class="vertical expand buttons group">
          <button class="button">One</button>
          <button class="button">Two</button>
          <button class="button">Three</button>
        </div>
      </div>
    </div>

    <h3>Groups can contain mixed size buttons</h3>
    <div class="elements">
      <div class="row">
        <div class="buttons group">
          <button class="tiny button">Three...</button>
          <button class="small button">Two...</button>
          <button class="regular button">One...</button>
          <button class="big button">Liftoff!</button>
        </div>
      </div>
    </div>

    <h3>Groups can be colorful</h3>
    <div class="elements">
      <div class="row">
        <div class="buttons group">
          <button class="red button">Red</button>
          <button class="orange button">Orange</button>
          <button class="yellow button">Yellow</button>
        </div>
      </div>
    </div>

    <h3>Groups can contain basic buttons <code>.basic.buttons.group</code></h3>
    <div class="elements">
      <div class="row">
        <div class="basic buttons group">
          <button class="basic button">One</button>
          <button class="basic button">Two</button>
          <button class="basic button">Three</button>
        </div>
      </div>
      <div class="row">
        <div class="basic vertical buttons group">
          <button class="basic teal button">Four</button>
          <button class="basic blue button">Five</button>
          <button class="basic purple button">Six</button>
        </div>
      </div>
    </div>

  </div>
</section>
