<section>
  <h2>
    <div class="tag yellow">WIP</div>
    <div class="tag blue">Component</div>
    File uploads
  </h2>
  <div class="content">

    <h3>File uploads allow the user to send files to a distant server</h3>
    <h4>
      The File Upload component uses the Dropzone.js library. It does not provide any upload backend, and thus you <em>must</em> implement it yourself.
    </h4>
    <div class="elements">
      <div class="row">
        {{e-file-upload id="demoFileUpload" target="#"}}
      </div>
    </div>

  </div>
</section>
