<section>
  <h2>
    <div class="green tag">Element</div>
    <div class="tag infos yellow" title="[NOTE] Maybe switch to an SVG based icon set?">WIP</div>
    Icons
  </h2>
  <div class="content">

    <h3>See <a href="http://fontawesome.io/icons/" target="_blank" rel="noopener noreferrer">Font Awesome</a> for the full icon list</h3>
    <h4>Icons should preferably be used with the markup <code>i.icon.fa.{icon-class}</code></h4>

    <br /><h3>Icons can represent concepts, actions, brands and others</h3>
    <div class="elements">
      <div class="row">
        <i class="icon fa fa-smile-o"></i>
        <i class="icon fa fa-save"></i>
        <i class="icon fa fa-twitter"></i>
        <i class="icon fa fa-hand-peace-o"></i>
      </div>
    </div>

    <h3>Icons can be colorful <code>i.icon.fa.{icon-class}.{color}</code></h3>
    <div class="elements">
      <div class="row">
        <i class="icon fa fa-file-pdf-o red"></i>
        <i class="icon fa fa-facebook facebook"></i>
        <i class="icon fa fa-h-square blue"></i>
        <i class="icon fa fa-tree green"></i>
      </div>
    </div>

    <h3>Icons can have different sizes <code>i.icon.{size}.fa.{icon-class}</code></h3>
    <div class="elements">
      <div class="row">
        <i class="icon tiny fa fa-bell"></i>
        <i class="icon small fa fa-car"></i>
        <i class="icon regular fa fa-cog"></i>
        <i class="icon big fa fa-hourglass"></i>
        <i class="icon large fa fa-tags"></i>
      </div>
    </div>

    <h3>Icons grow to adapt to their context</h3>
    <div class="elements">
      <div class="row">
        <h1>
          <i class="icon fa fa-cog red"></i>
          h1 main heading
        </h1>
        <h6>
          <i class="icon fa fa-cog red"></i>
          h6 small heading
        </h6>
      </div>
    </div>

    <h3>Icons can be used as spinners <code>i.icon.fa.{icon-class}.fa-spin</code></h3>
    <h4>These can be jittery on some browsers. Usage is not recommended, prefer using the Spinner component instead.</h4>
    <div class="elements">
      <div class="row">
        <h1>
          <i class="icon fa fa-cog fa-spin large"></i>
          <i class="icon fa fa-circle-o-notch fa-spin large"></i>
          <i class="icon fa fa-refresh fa-spin large"></i>
          <i class="icon fa fa-spinner fa-spin large"></i>
        </h1>
      </div>
    </div>

  </div>
</section>
