<section>
  <h2>
    <div class="blue tag">Component</div>
    Tags input
  </h2>
  <div class="content">

    <h3>...</h3>
    <div class="elements">
      <div class="row">

        {{e-tags-input
          title="Test"
          subtitle="Comma-separated"
        }}

      </div>
    </div>

  </div>
</section>
