<section>
  <h2>
    <div class="blue tag">Component</div>
    Markdown editor
  </h2>
  <div class="content">

    <h3>Not gonna lie, it's awesome</h3>
    <div class="elements">
      <div class="row">

        {{e-md-editor showPreview=true}}

      </div>
    </div>

  </div>
</section>
