{{#e-navbar
  title="Visibily"
  as |data|
}}
  <li>
    <a href="#">Services</a>
  </li>
  <li>
    <a href="#">Blog</a>
  </li>
  <li>
    <a href="#">Equipe</a>
  </li>
  <li>
    <a href="#">Contact</a>
  </li>
  <li>
    <a href="#" class="basic rounded {{data.buttonClass}} button">Créer un compte</a>
  </li>
  <li>
    <a href="#" class="basic rounded {{data.buttonClass}} button">Connexion</a>
  </li>
{{/e-navbar}}
