<section>
  <h2>
    <div class="green tag">Element</div>
    Split buttons
  </h2>
  <div class="content">

    <h3>Buttons can have a secondary action <code>.split.button > .sub</code></h3>
    <h4>The action location is controlled with the <code>left</code> and <code>right</code> classes</h4>
    <h4>For better cross-compatibility, it is advised to use a <code>div</code> element instead of a <code>button</code> element to wrap split buttons</h4>
    <div class="elements">
      <div class="row">
        <div class="left split button">
          <i class="icon fa fa-caret-down sub"></i>
          Main action
        </div>
        <div class="right split rounded button">
          Main action
          <i class="icon fa fa-refresh sub"></i>
        </div>
      </div>
    </div>

    <h3>Split buttons can be colorful</h3>
    <div class="elements">
      <div class="row">
        <div class="left split red button">
          <i class="icon fa fa-fire sub"></i>
          Fire
        </div>
        <div class="right split blue button">
          Water
          <i class="icon fa fa-tint sub"></i>
        </div>
      </div>
    </div>

    <h3>Split buttons can be used to represent brands</h3>
    <div class="elements">
      <div class="row">
        <div class="left split button facebook">
          <i class="icon fa fa-facebook sub"></i>
          Facebook
        </div>
        <div class="right split button twitter">
          Twitter
          <i class="icon fa fa-twitter sub"></i>
        </div>
      </div>
    </div>

  </div>
</section>
