<section>
  <h2>
    <div class="green tag">Element</div>
    Tags
  </h2>
  <div class="content">

    <h3>Tags can be used to highlight information or list topics</h3>
    <div class="elements">
      <div class="row">
        <div class="tag">Programming</div>
        <div class="tag">Web design</div>
        <div class="tag">UI / UX</div>
      </div>
    </div>

    <h3>Tags can be colorful</h3>
    <div class="elements">
      <div class="row">
        <div class="tag red">Red</div>
        <div class="tag orange">Orange</div>
        <div class="tag yellow">Yellow</div>
        <div class="tag green">Green</div>
        <div class="tag teal">Teal</div>
        <div class="tag blue">Blue</div>
        <div class="tag indigo">Indigo</div>
        <div class="tag purple">Purple</div>
        <div class="tag pink">Pink</div>
        <div class="tag brown">Brown</div>
        <div class="tag black">Black</div>
      </div>
    </div>

    <h3>Tags can be links</h3>
    <div class="elements">
      <div class="row">
        <a href="#" class="tag">Default</a>
        <a href="#" class="tag red">Red</a>
        <a href="#" class="tag orange">Orange</a>
        <a href="#" class="tag yellow">Yellow</a>
        <a href="#" class="tag green">Green</a>
        <a href="#" class="tag teal">Teal</a>
        <a href="#" class="tag blue">Blue</a>
        <a href="#" class="tag indigo">Indigo</a>
        <a href="#" class="tag purple">Purple</a>
        <a href="#" class="tag pink">Pink</a>
        <a href="#" class="tag brown">Brown</a>
        <a href="#" class="tag black">Black</a>
      </div>
    </div>

    <h3>Tags can hold icons</h3>
    <div class="elements">
      <div class="row">
        <div class="tag"><i class="icon fa fa-step-backward"></i></div>
        <div class="tag"><i class="icon fa fa-backward"></i></div>
        <div class="tag"><i class="icon fa fa-play"></i></div>
        <div class="tag"><i class="icon fa fa-pause"></i></div>
        <div class="tag"><i class="icon fa fa-stop"></i></div>
        <div class="tag"><i class="icon fa fa-forward"></i></div>
        <div class="tag"><i class="icon fa fa-step-forward"></i></div>
      </div>
    </div>

    <h3>Tags can be rounded</h3>
    <div class="elements">
      <div class="row">
        <div class="rounded tag red">Red</div>
        <div class="rounded tag orange">Orange</div>
        <div class="rounded tag yellow">Yellow</div>
        <div class="rounded tag green">Green</div>
        <div class="rounded tag teal">Teal</div>
        <div class="rounded tag blue">Blue</div>
        <div class="rounded tag indigo">Indigo</div>
        <div class="rounded tag purple">Purple</div>
        <div class="rounded tag pink">Pink</div>
        <div class="rounded tag brown">Brown</div>
        <div class="rounded tag black">Black</div>
      </div>
    </div>

    <h3>Tags can represent a brand</h3>
    <div class="elements">
      <div class="row">
        <div class="tag facebook">
          <i class="icon fa fa-facebook"></i>
          Facebook
        </div>
        <div class="tag twitter">
          <i class="icon fa fa-twitter"></i>
          Twitter
        </div>
        <div class="tag linkedin">
          <i class="icon fa fa-linkedin"></i>
          LinkedIn
        </div>
        <div class="tag vkontakte">
          <i class="icon fa fa-vk"></i>
          VKontakte
        </div>
        <div class="tag tumblr">
          <i class="icon fa fa-tumblr"></i>
          Tumblr
        </div>
        <div class="tag google-plus">
          <i class="icon fa fa-google-plus"></i>
          Google+
        </div>
        <div class="tag youtube">
          <i class="icon fa fa-youtube-play"></i>
          YouTube
        </div>
        <div class="tag reddit">
          <i class="icon fa fa-reddit-alien"></i>
          Reddit
        </div>
        <div class="tag weibo">
          <i class="icon fa fa-weibo"></i>
          Weibo
        </div>
      </div>

      <div class="row">
        <div class="tag soundcloud">
          <i class="icon fa fa-soundcloud"></i>
          SoundCloud
        </div>
        <div class="tag blogger">
          Blogger
        </div>
        <div class="tag rss">
          <i class="icon fa fa-rss"></i>
          RSS
        </div>
        <div class="tag whatsapp">
          <i class="icon fa fa-whatsapp"></i>
          WhatsApp
        </div>
        <div class="tag medium">
          <i class="icon fa fa-medium"></i>
          Medium
        </div>
        <div class="tag slack">
          <i class="icon fa fa-slack"></i>
          Slack
        </div>
        <div class="tag instagram">
          <i class="icon fa fa-instagram"></i>
          Instagram
        </div>
        <div class="tag dribbble">
          <i class="icon fa fa-dribbble"></i>
        Dribbble
      </div>
        <div class="tag snapchat">
          <i class="icon fa fa-snapchat-ghost"></i>
          Snapchat
        </div>
      </div>
    </div>

  </div>
</section>
