//
// Checkbox element for Ecusson CSS
//

.checkbox {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  .box {
    display: inline-block;
    position: relative;
    width: 1.5em;
    height: 1.5em;
    padding: 0;

    background-color: $color-white-off-dark;
    border-radius: $sizing-element-border-radius;
    @include webkit-border-radius-fix;

    overflow: visible;

    transition: background-color .3s;

    &.disabled {
      opacity: .5;
      cursor: default;
    }

    &:focus:not(.disabled), &:active:not(.disabled) {
      background-color: $color-grey;
    }

    input[type="checkbox"] {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;

      opacity: 0;
      cursor: pointer;
    } //! input[type="checkbox"]

    .overlay {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      text-align: center;
      line-height: 1.5em;
      font-family: $font-icons;
      color: $color-white;

      border-radius: 50%;
      background-color: $color-blue;
      opacity: 0;

      transform: scale(.75);
      transform-origin: center;

      transition: border-radius .3s,
                  opacity .3s,
                  transform .3s,
                  background-color .3s;

      pointer-events: none;
      @include no-select;
    } //! .overlay

    &:focus:not(.disabled) .overlay, &:active:not(.disabled) .overlay {
      background-color: $color-blue-dark;
    }

    input[type="checkbox"]:checked + .overlay {
      border-radius: $sizing-element-border-radius;
      transform: scale(1);
      opacity: 1;
    }

    $i: 1;
    @each $kvp in $--std-colors {
      $class: nth($kvp, 1);
      $light: nth($kvp, 2);
      $dark: nth(nth($--std-colors-dark, $i), 2);

      .overlay.#{$class} {
        background-color: $light;
      }

      &:focus, &:active {
        .overlay.#{$class} {
          background-color: $dark;
        }
      }

      &.disabled {
        .overlay.#{$class} {
          background-color: $light;
        }
        &:focus, &:active {
          .overlay.#{$class} {
            background-color: $light;
          }
        }
      }

      $i: $i + 1;
    }

    .overlay.black {
      background-color: lighten($color-black, 20%);
    }

    &:focus:not(.disabled) .overlay.black, &:active:not(.disabled) .overlay.black {
      background-color: lighten($color-black, 10%);
    }
  } //! .box

  span {
    display: inline-block;
    position: relative;
    padding: 0;
    margin: .5em;

    @include no-select;

    &.disabled {
      opacity: .5;
    }
  }
}
