//
// Navbar component for Ecusson CSS
//

nav.navbar {
  display: inline-block;
  position: fixed;

  top: 0em;
  left: 0%;
  width: 100%;
  padding: 2em 0;
  box-sizing: border-box;

  color: lighten($color-black, 20%);
  background-color: transparent;
  transform: translateZ(0);

  transition: padding .3s;

  z-index: 900;

  .overlay {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding: 0;
    margin: 0;

    background-color: lighten($color-white-off, 3%);
    box-shadow: 0 0   2em 0    transparent,
                0 2em 4em -2em transparent;

    transform: scaleY(0);
    transform-origin: top;

    transition: transform .3s,
                box-shadow .3s;
    transition-delay: 0s;

    z-index: -1;
  }

  .wrapper {
    padding: 0 1em;
  }

  .contents {
    position: relative;
    width: 100%;
    max-width: 1200px;
  }

  &.scrolled {
    padding: 0;
    color: lighten($color-black, 10%);

    .overlay {
      transform: scaleY(1);
      box-shadow: 0 0   2em 0    transparentize($color-night-blue-dark, .9),
                  0 2em 4em -1.5em transparentize($color-night-blue-dark, .75);
      transition-delay: .15s;
    }

    ul {
      a:after {
        background-color: $color-primary;
      }
    }
  }

  a.logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    color: currentColor;
    font-size: .85em;

    &:after {
      display: none;
    }

    .logo-container {
      display: block;
      position: relative;
      margin: .5em;
      margin-left: 0;

      height: 3.5em;
      width: 3.5em;

      img {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;

        transition: opacity .4s;

        &:not(.secondary) {
            filter: grayscale(100%) #{"brightness(125%)"};
        }

        &.secondary {
          display: block;
          position: absolute;
          top: 0;
          left: 0;

          opacity: 0;
        }
      }

      &.scrolled {
        img {
          opacity: 0;

          &.secondary {
            opacity: 1;
          }
        }
      }
    }

    h1 {
      display: block;
      position: relative;
      padding: 0 .2em;
      margin: 0;

      color: currentColor;
      transition: color .8s;

      span {
        color: currentColor;

        transform: translateY(.1em);

        font-size: 1.5em;
        font-weight: normal;

        opacity: 0;

        animation-name: animationNavbarTitleColor;
        animation-duration: .01s;
        animation-delay: .45s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background-color: currentColor;

        transform-origin: left;
        transform: scaleX(0);

        animation-name: animationNavbarTitleOverlay;
        animation-duration: .3s;
        animation-delay: .3s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
      }
    } //! h1
  } //! a.logo

  ul {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
    padding: 0;
    margin: 0;

    list-style: none;

    li {
      display: inline-flex;
      justify-content: center;
      align-items: stretch;
      margin: 0 .5em;
      padding: 0;

      .button {
        &:hover, &:focus, &:active {
          color: $color-white !important;
        }
      }

      &:before {
		    display: none;
      }

      a {
        display: inline-flex;
        position: relative;

        text-transform: uppercase;
        font-size: .9em;
        color: currentColor;
        transition: color .8s;

        &:after {
          position: absolute;
          bottom: 0;
          left: 0;
          height: .25em;

          color: $color-primary;
          border-radius: $sizing-element-border-radius;

          transition: background-color .4s,
                      transform .2s,
                      opacity .2s;
        }

        &:not(.button) {
          padding: 1.75em 1em;
        }

        &.button {
          align-self: center;
          transition: color .4s, background-color .4s, border-color .4s;
        }
      } //! a
    } //! li
  } //! ul
} //! nav.navbar

@keyframes animationNavbarTitleColor {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animationNavbarTitleOverlay {
  from {
    transform-origin: left;
    transform: scaleX(0);
  }
  50% {
    transform-origin: left;
    transform: scaleX(1);
  }
  50.1% {
    transform-origin: right;
  }
  to {
    transform-origin: right;
    transform: scaleX(0);
  }
}
