//
// Sizing rules for Ecusson
//

$sizing-element-border-radius: .25em;

.tiny {
  font-size: .5em !important;
}

.small {
  font-size: .75em !important;
}

.regular {
  font-size: 1em !important;
}

.big {
  font-size: 1.25em !important;
}

.large {
  font-size: 1.5em !important;
}
