// Code snippets style for Ecusson

code {
  display: inline-block;
  position: relative;
  padding: .2em .5em;
  margin: 0 .5em;

  background-color: transparentize($color-white-off-dark, .85);
  color: inherit;
  border-radius: $sizing-element-border-radius;
  font-size: .9em;
  font-family: $font-monospace;

  &.inverted {
    background-color: transparentize($color-white, .75);
    color: $color-white;
  }
}

kbd {
  display: inline-block;
  position: relative;
  padding: .3em .5em;
  margin: .2em;
  margin-bottom: .4em;

  min-width: 1em;

  background-color: transparentize($color-black, .9);
  box-shadow: 0 .2em 0 transparentize($color-black, .8);

  color: inherit;
  border-radius: .4em;

  font-size: .9em;
  font-family: $font-monospace;
  text-align: center;
}
