// Code snippets style for Ecusson

code {
  display: inline-block;
  position: relative;
  padding: .2em .5em;
  margin: 0 .5em;

  background-color: transparentize($color-white-off-dark, .85);
  color: lighten($color-black, 20%);
  border-radius: $sizing-element-border-radius;
  font-size: .9em;
  font-family: $font-monospace;

  word-wrap: break-word;

  &.inverted {
    background-color: transparentize($color-white, .75) !important;
    color: $color-white;
  }
}

pre > code {
  display: block;
  padding: 1em 1.5em !important;

  background-color: lighten(#DDDDE3, 2%) !important;
  overflow-x: auto;
}

kbd {
  display: inline-block;
  position: relative;
  padding: .3em .5em;
  margin: .2em;
  margin-bottom: .4em;

  min-width: 1em;

  background-color: transparentize($color-black, .9);
  box-shadow: 0 .2em 0 transparentize($color-black, .8);

  color: inherit;
  border-radius: .4em;

  font-size: .9em;
  font-family: $font-monospace;
  text-align: center;
}
