//
// Container element for Ecusson CSS
//

$--alignments: (
  "start": flex-start,
  "end": flex-end,
  "center": center,
  "base": baseline,
  "stretch": stretch,
  "around": space-around,
  "between": space-between
);

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &.inline {
    display: inline-flex;
  }

  &.horizontal {
    flex-direction: row;
  }

  &.vertical {
    flex-direction: column;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  $i: 1;
  @each $kvp in $--alignments {
    $class: nth($kvp, 1);
    $prop: nth($kvp, 2);

    &.main-#{$class} {
      justify-content: $prop;
    }

    &.cross-#{$class} {
      align-items: $prop;
    }

    $i: $i + 1;
  }

  &.fixed {
    position: fixed;

    &.top {
      top: 0;
    }

    &.left {
      left: 0;
    }

    &.bottom {
      bottom: 0;
    }

    &.right {
      right: 0;
    }
  }
}
