//
// Container element for Ecusson CSS
//

$--alignments: (
  "start": flex-start,
  "end": flex-end,
  "center": center,
  "base": baseline,
  "stretch": stretch,
  "around": space-around,
  "between": space-between
);

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &.inline {
    display: inline-flex;
  }

  &.expand, &.expanding {
    flex-grow: 1;
  }

  &.horizontal {
    flex-direction: row;
  }

  &.vertical {
    flex-direction: column;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  $i: 1;
  @each $kvp in $--alignments {
    $class: nth($kvp, 1);
    $prop: nth($kvp, 2);

    &.main-#{$class} {
      justify-content: $prop;
    }

    &.cross-#{$class} {
      align-items: $prop;
    }

    $i: $i + 1;
  }

  &.fixed {
    position: fixed;
    z-index: 800;

    &.top {
      top: 0;
    }

    &.left {
      left: 0;
    }

    &.bottom {
      bottom: 0;
    }

    &.right {
      right: 0;
    }
  }

  &.rounded {
    border-radius: $sizing-element-border-radius;
  }

  &.padded {
    padding: .5em 1em;
  }

  $i: 1;
  @each $kvp in $--std-colors {
    $class: nth($kvp, 1);
    $color: nth($kvp, 2);

    &.background.#{$class} {
      background-color: $color;

      color: color-contrast($color, $color-black, $color-white);
    }

    $i: $i + 1;
  }

  &.background.black {
    background-color: $color-black;

    color: $color-white;
  }

  &.background.grey {
    background-color: $color-grey;

    color: $color-black;
  }

  &.background.offwhite {
    background-color: $color-white-off;

    color: $color-black;
  }
}
