//
// Divider element for Ecusson
//

.divider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 1px;
  margin: .75em 0;

  &:before, &:after {
    content: '';
    display: block;
    position: relative;
    flex-basis: 50%;
    height: 100%;
    background-color: rgba(128, 128, 128, .5);
  }

  &.no-top {
    margin-top: 0;
  }

  &.no-bottom {
    margin-bottom: 0;
  }

  &.no-left {
    margin-left: 0;
  }

  &.no-right {
    margin-right: 0;
  }

  > * {
    margin: 0 1em;
    white-space: nowrap;
    @include no-select;
  }

  &.vertical {
    display: inline-flex;
    flex-direction: column;
    width: 1px;
    height: 4em; // TODO: Fix for compatibility with Container.flex
    margin: 0 .75em;

    &:before, &:after {
      width: 1px;
      flex-basis: 50%;
    }

    > * {
      margin: .5em 0;
    }
  }
}
