//
// Form element for Ecusson
//

form {
  display: block;
  position: relative;
  overflow: hidden;

  background-color: $color-white;
  border-radius: $sizing-element-border-radius;

  @include webkit-border-radius-fix;

  &:not(.dropzone) {
    h1, h2, h3, h4, h5, h6 {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      width: 100%;
      flex-grow: 1;

      margin: 0;
      padding: 1em;

      background-color: transparentize($color-black, .95);
      border-bottom: 1px solid transparentize($color-black, .92);
    }
  }

  .input {
    border-radius: 0;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

    &.horizontally.padded {
      padding-left: 1em;
      padding-right: 1em;
    }

    &.vertically.padded {
      padding-top: 1em;
      padding-bottom: 1em;
    }

    &:not(:last-child) {
      border-bottom: 1px solid transparentize($color-black, .92);
    }

    > .button {
      margin: 0;
      border-radius: 0;
    }

    .input:not(:last-child) {
      border-right: 1px solid transparentize($color-black, .92);
    }

    .input {
      @for $weight from 1 through 12 {
        &.w-#{$weight} {
          flex-grow: $weight;
        }
      }
    }
  }
}
