//
// List element for Ecusson class
//

ul, ol {
  display: block;
  position: relative;

  padding-left: 2.5em;
  margin: 1em 0;

  list-style: none;

  li {
    position: relative;
    padding: .15em 0;

    &:before {
      display: inline-block;
      position: absolute;
      box-sizing: content-box;

      top: 50%;
      left: -.5em;
      transform: translate(-100%, calc(-50% + .125em));

      opacity: .75;

      @include no-select;
    }
  }
}

ol {
  counter-reset: counter-ordered-list;

  li {
    &:before {
      counter-increment: counter-ordered-list;
      content: counter(counter-ordered-list) '.';

      font-family: $font-monospace;
      font-weight: 900;
      font-size: .75em;
      opacity: 1;
    }
  }
}

ul {
  li {
    &:before {
      content: '\f105';

      font-family: $font-icons;
      font-size: .6em;
      font-weight: bold;
    }
  }
}
