//
// Global styling for text elements for Ecusson
//

body {
  font-family: $font-regular;
  color: $color-black;
}

*::selection {
  background: transparentize(lighten($color-blue, 30%), .5) !important;
}

*::-moz-selection {
  background: transparentize(lighten($color-blue, 30%), .5) !important;
}

.no-select {
  @include no-select;
}
