<form id="{{id}}" action="{{target}}" class="dropzone horizontal container background offwhite">
  <div class="fallback">
    <input name="file" type="file" multiple />
  </div>

  <div class="dz-message vertical container main-center cross-center">
    <h3>Drop files here</h3>
    <div class="horizontal divider">
      <span>OR</span>
    </div>
    <button class="button blue big" type="button">Browse disk</button>
  </div>
</form>
