<div class="modal-box">
  <h2 class="title">{{title}}</h2>

  <div class="contents">
    {{yield}}
  </div>

  <div class="buttons horizontal container main-end cross-stretch">
    <button class="button black" {{action 'close' false}}>Cancel</button>
    <button class="right split button green" {{action 'close' true}}>
      OK
      <i class="sub icon fa fa-check"></i>
    </button>
  </div>
</div>
