<div class="svg horizontal inline container main-center cross-center">
  <svg class="circle inner" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
    <circle cx="20" cy="20" r="18"></circle>
  </svg>
</div>
{{#if showLabel}}
  <span>
    {{_currentLabel}}
  </span>
{{/if}}
