<span>{{title}}</span>
<span class="horizontal inline container main-start cross-center wrap tags-container">
  {{#each tags as |tag index|}}
    <a href="#" class="tag" {{action "remove" index}}>
      {{tag}}
    </a>
  {{/each}}
  <input
    type="text"
    name="tagsInput"
    autofocus="autofocus"
    {{action "checkNewTag" on="keyUp" preventDefault=false}}
  >
</span>
