<link rel="stylesheet" href="{{rootURL}}assets/sink.css">

<div class="sink">

  <h1>
    <a href="/">
      <img src="{{rootURL}}img/ecusson.png" alt="Ecusson icon">
      Ecusson CSS
    </a>
  </h1>

  {{outlet}}
</div>

<script type="text/javascript" src="{{rootURL}}assets/sink.js" defer></script>
